<%- include("partials/head") %>
<section class="container bg-dark text border border-light mt-3 p-2">
    <a href="/todos" class="btn btn-outline-light">Back</a>
    <h5 class="mt-2"><%=todo.text%></h5>
    <h6>Created on: <%=todo.dateCreated%></h6>
    <% if (todo.dateUpdated) { %>
    <h6>Last Updated on: <%=todo.dateUpdated%></h6>
    <% } %>
    <div class="">
        <a href="/todos/<%=todo._id%>/edit" class="btn btn-outline-light">Edit</a>
        <form action="/todos/<%=todo._id%>?_method=delete" method="post">
            <button name="delBtn" value="delBtn" class="btn btn-outline-light">Delete</button>
        </form>
    </div>
</section>
<%- include("partials/foot") %>
